In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import math
from statsmodels.stats import diagnostic
import statsmodels.stats as st
from scipy import stats
from itertools import combinations
import networkx as nx
import statsmodels.api as sm
import statsmodels.formula.api as smf
from sklearn.linear_model import LinearRegression, LogisticRegression, Ridge
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import OneHotEncoder
from pandas.plotting import scatter_matrix
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import cross_val_predict
from sklearn.model_selection import cross_val_score
from sklearn.metrics import mean_squared_error, auc, roc_curve
import missingno as msno
import ast
from collections import Counter
import statsmodels.regression.recursive_ls as rls
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots
from pyvis.network import Network

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [10]:
df = pd.read_pickle('../data/df_movie.pkl')
df.head()

,Movie_name,Movie_release,Movie_revenue,Movie_runtime,Movie_languages,Movie_countries,Main_genre,Sec_Genre,Movie_rating,Producer,...,Actor_name,Actor_age_release,Inflation Factor for 2023,2023 valued revenue,Avg_revenue_per_film_at_release,Longevity,Number_of_film_at_release,Avg_rating_per_film_at_release,First_film,Actor_main_genre
403088,The Fox and the Hound,1981.0,63456988.0,83.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}",Adventure,Children's/Family,NaN,NaN,...,'Squeeks' the Caterpillar,NaN,3.38,2.144846e+08,6.345699e+07,0.0,1,NaN,True,Adventure
400285,Miss March,2009.0,4591629.0,90.0,"{""/m/05zjd"": ""Portuguese Language"", ""/m/02h40l...","{""/m/09c7w0"": ""United States of America""}",Road movie,Sex comedy,NaN,NaN,...,40 Glocc,29.0,1.43,6.566029e+06,4.591629e+06,0.0,1,NaN,True,Road movie
71882,Get Rich or Die Tryin',2005.0,46442528.0,117.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}",Crime Fiction,Hip hop movies,5.4,Jimmy Iovine,...,50 Cent,30.0,1.58,7.337919e+07,4.644253e+07,0.0,1,5.400000,True,Crime Fiction
419847,Home of the Brave,2006.0,499620.0,106.0,"{""/m/0jzc"": ""Arabic Language"", ""/m/02h40lc"": ""...","{""/m/09c7w0"": ""United States of America"", ""/m/...",Drama,War film,5.6,NaN,...,50 Cent,31.0,1.53,7.644186e+05,2.347107e+07,1.0,2,5.500000,False,Crime Fiction
126916,Righteous Kill,2008.0,76747202.0,100.0,"{""/m/06b_j"": ""Russian Language"", ""/m/02h40lc"":...","{""/m/09c7w0"": ""United States of America""}",Thriller,Crime Fiction,6.0,NaN,...,50 Cent,33.0,1.43,1.097485e+08,4.122978e+07,3.0,3,5.666667,False,Crime Fiction

In [11]:
df1 = pd.read_pickle('../data/df_pairs.pkl')
df1.head()

,Movie_name,Movie_release,Actor_pairs,Movie_revenue,Movie_rating,Actor1,Actor2,Age_difference,Film_count_difference,Average_revenue_difference,First_film,First_film_for_one,Number_of_films_together,Same_genre,Genre
0,'Til There Was You,1997.0,"(Alice Drummond, Christine Ebersole)",3525125.0,4.8,Alice Drummond,Christine Ebersole,25.0,3,3.612798e+07,False,False,0,False,None
1,'Til There Was You,1997.0,"(Alice Drummond, Craig Bierko)",3525125.0,4.8,Alice Drummond,Craig Bierko,37.0,5,1.416641e+07,False,False,0,False,None
2,'Til There Was You,1997.0,"(Alice Drummond, Dylan McDermott)",3525125.0,4.8,Alice Drummond,Dylan McDermott,34.0,1,1.315054e+07,False,False,0,False,None
3,'Til There Was You,1997.0,"(Alice Drummond, Jeanne Tripplehorn)",3525125.0,4.8,Alice Drummond,Jeanne Tripplehorn,36.0,2,1.241967e+08,False,False,0,False,None
4,'Til There Was You,1997.0,"(Alice Drummond, Jennifer Aniston)",3525125.0,4.8,Alice Drummond,Jennifer Aniston,41.0,3,4.310507e+07,False,False,0,False,None

In [12]:
df2 = df1.copy()

#Filter the years to have only the films from 1980 to 1985 first
df2 = df2[(df2['Movie_release'] >= 1980) & (df2['Movie_release'] <= 2020)]


# Step 1: Create a mapping DataFrame for 'Actor_pairs' to 'Actor1', 'Actor2', and 'Genre'
actor_pairs_mapping = df2[['Actor_pairs', 'Actor1', 'Actor2', 'Genre']].drop_duplicates()

# Step 2: Grouping by 'Actor_pairs' and calculating the required metrics along with including 'Genre'
grouped_df = df2.groupby('Actor_pairs').agg(
    Average_Movie_revenue=pd.NamedAgg(column='Movie_revenue', aggfunc='mean'),
    Average_Movie_rating=pd.NamedAgg(column='Movie_rating', aggfunc='mean'),
    Count=pd.NamedAgg(column='Movie_name', aggfunc='count')
)

# Reset index in the grouped DataFrame
grouped_df.reset_index(inplace=True)

# Step 3: Merge the aggregated DataFrame with the mapping DataFrame
# Note: The merge may result in multiple rows per actor pair if they have multiple genres.
final_df = pd.merge(grouped_df, actor_pairs_mapping, on='Actor_pairs')

final_df

,Actor_pairs,Average_Movie_revenue,Average_Movie_rating,Count,Actor1,Actor2,Genre
0,"(50 Cent, Adewale Akinnuoye-Agbaje)",46442528.0,5.4,1,50 Cent,Adewale Akinnuoye-Agbaje,None
1,"(50 Cent, Al Pacino)",76747202.0,6.0,1,50 Cent,Al Pacino,None
2,"(50 Cent, Alan Blumenfeld)",76747202.0,6.0,1,50 Cent,Alan Blumenfeld,Crime Fiction
3,"(50 Cent, Alan Rosenberg)",76747202.0,6.0,1,50 Cent,Alan Rosenberg,None
4,"(50 Cent, Ambyr Childers)",2566717.0,5.6,1,50 Cent,Ambyr Childers,Crime Fiction
...,...,...,...,...,...,...,...
474803,"(Zhenwei Wang, Zhiheng Wang)",359126022.0,6.2,1,Zhenwei Wang,Zhiheng Wang,Action/Adventure
474804,"(Zoe Saldana, Zulay Henao)",70587268.0,6.2,1,Zoe Saldana,Zulay Henao,None
474805,"(Zoe Saldana, Óscar Jaenada)",29379723.0,6.2,1,Zoe Saldana,Óscar Jaenada,Thriller
474806,"(Zoe Saldana, Željko Ivanek)",11494838.0,8.6,1,Zoe Saldana,Željko Ivanek,Thriller
474807,"(Zoë Kravitz, Álex González)",353624124.0,7.7,1,Zoë Kravitz,Álex González,Thriller

In [13]:
from sklearn.preprocessing import MinMaxScaler


# Filter to only keep real duos
duos = final_df[final_df['Count'] >=3]

# Creating a copy of the DataFrame slice
duos_standardized = duos.copy()

# Initialize the StandardScaler
standard_scaler = MinMaxScaler()

# Selecting the columns to be normalized
cols_to_normalize = ['Average_Movie_revenue', 'Average_Movie_rating']

# Applying normalization to the selected columns
duos_standardized[cols_to_normalize] = standard_scaler.fit_transform(duos_standardized[cols_to_normalize])

def round_down_to_nearest_05(number):
    return np.floor(number / 0.05) * 0.05

duos_standardized['Average_Movie_revenue'] = duos_standardized['Average_Movie_revenue'].apply(round_down_to_nearest_05)


rating_stand = duos_standardized.sort_values(by=["Average_Movie_rating","Average_Movie_revenue"], ascending= False)


revenue_stand = duos_standardized.copy()
revenue_stand = duos_standardized.sort_values(by=["Average_Movie_revenue","Average_Movie_rating"], ascending= False)


rating_stand.reset_index(drop=True, inplace=True)
rating_stand['rank'] = rating_stand.index + 1   # Adding 1 to start the ranking from 1

revenue_stand.reset_index(drop=True, inplace=True)
revenue_stand['rank'] = revenue_stand.index + 1   # Adding 1 to start the ranking from 1


for i in range(1, len(rating_stand)):
    # Check if the current row has the same speed and mass as the previous row
    if (rating_stand.loc[i, 'Average_Movie_revenue'] == rating_stand.loc[i-1, 'Average_Movie_revenue']) and (rating_stand.loc[i, 'Average_Movie_rating'] == rating_stand.loc[i-1, 'Average_Movie_rating']):
        # Update the rank to be the same as the previous row
        rating_stand.loc[i, 'rank'] = rating_stand.loc[i-1, 'rank']
    
for i in range(1, len(revenue_stand)):
    # Check if the current row has the same speed and mass as the previous row
    if (revenue_stand.loc[i, 'Average_Movie_revenue'] == revenue_stand.loc[i-1, 'Average_Movie_revenue']) and (revenue_stand.loc[i, 'Average_Movie_rating'] == rating_stand.loc[i-1, 'Average_Movie_rating']):
        # Update the rank to be the same as the previous row
        revenue_stand.loc[i, 'rank'] = revenue_stand.loc[i-1, 'rank']

length = len(rating_stand)

rating_stand['rank_ratio']  = (length - (rating_stand['rank']-1))/ length
revenue_stand['rank_ratio']  = (length - (revenue_stand['rank']-1))/ length

# Function to transform x to y and create a tuple
def transform(x):
    if x >= 0.5:
        y = (x - 0.5) * 2  
        return (0, y, 0.3)
    else:
        y = np.abs((x - 0.5) * 2)
        return (y, 0, 0.3)

# Apply the transformation
rating_stand['Color'] = rating_stand['rank_ratio'].apply(transform)
revenue_stand['Color'] = revenue_stand['rank_ratio'].apply(transform)

In [14]:
rating_stand

,Actor_pairs,Average_Movie_revenue,Average_Movie_rating,Count,Actor1,Actor2,Genre,rank,rank_ratio,Color
0,"(Andy Serkis, Billy Boyd)",1.00,1.000000,3,Andy Serkis,Billy Boyd,Fantasy Adventure,1,1.000000,"(0, 1.0, 0.3)"
1,"(Andy Serkis, Cate Blanchett)",1.00,1.000000,3,Andy Serkis,Cate Blanchett,None,1,1.000000,"(0, 1.0, 0.3)"
2,"(Andy Serkis, Christopher Lee)",1.00,1.000000,3,Andy Serkis,Christopher Lee,None,1,1.000000,"(0, 1.0, 0.3)"
3,"(Andy Serkis, David Wenham)",1.00,1.000000,3,Andy Serkis,David Wenham,Fantasy Adventure,1,1.000000,"(0, 1.0, 0.3)"
4,"(Andy Serkis, Dominic Monaghan)",1.00,1.000000,3,Andy Serkis,Dominic Monaghan,Fantasy Adventure,1,1.000000,"(0, 1.0, 0.3)"
...,...,...,...,...,...,...,...,...,...,...
2172,"(Loretta Devine, Regina Hall)",0.00,0.116906,4,Loretta Devine,Regina Hall,None,2172,0.002756,"(0.994487827285255, 0, 0.3)"
2173,"(Anthony Anderson, Loretta Devine)",0.00,0.115108,3,Anthony Anderson,Loretta Devine,Crime Fiction,2174,0.001837,"(0.99632521819017, 0, 0.3)"
2174,"(David Mann, Tamela Mann)",0.05,0.079137,3,David Mann,Tamela Mann,None,2175,0.001378,"(0.9972439136426274, 0, 0.3)"
2175,"(David Mann, Tyler Perry)",0.05,0.079137,3,David Mann,Tyler Perry,None,2175,0.001378,"(0.9972439136426274, 0, 0.3)"
2176,"(Alan McRae, Victor Wong)",0.00,0.000000,3,Alan McRae,Victor Wong,None,2177,0.000459,"(0.9990813045475425, 0, 0.3)"

In [15]:
import networkx as nx
import community as community_louvain
import numpy as np
from collections import defaultdict

# Create a new NetworkX graph
G = nx.Graph()

# Add nodes and edges from the DataFrame
for _, row in rating_stand.iterrows():
    G.add_edge(row['Actor1'], row['Actor2'], weight=row['Count'])

# Detect communities (clusters) using the Louvain method
partition = community_louvain.best_partition(G, weight='weight')

# Group nodes by their cluster
clusters = defaultdict(list)
for node, cluster_id in partition.items():
    clusters[cluster_id].append(node)

# Filter clusters with more than 5 nodes
large_clusters = {k: v for k, v in clusters.items() if len(v) > 5}

# Analysis for each large cluster
cluster_averages = {}

for cluster_id, nodes in large_clusters.items():
    # Extract rows from DataFrame that belong to the current cluster
    cluster_rows = rating_stand[(rating_stand['Actor1'].isin(nodes)) | (rating_stand['Actor2'].isin(nodes))]

    # Calculate average rank for the cluster
    average_rank = cluster_rows['rank'].mean() if not cluster_rows.empty else None

    # Store the results
    cluster_averages[cluster_id] = {
        'actors': nodes,
        'average_rank': average_rank
    }

# Sort clusters by average rank in ascending order
sorted_cluster_averages = dict(sorted(cluster_averages.items(), key=lambda item: item[1]['average_rank']))

# List to store the cluster analysis results
cluster_analysis = []

# Add cluster analysis results to the list
for cluster_id, info in sorted_cluster_averages.items():
    cluster_analysis.append({
        'cluster_id': cluster_id,
        'actors': info['actors'],
        'average_rank': info['average_rank']
    })

# Print the cluster analysis results
for cluster in cluster_analysis:
    print(f"Cluster {cluster['average_rank']}: {cluster['actors']}")

Cluster 386.95714285714286: ['Andy Serkis', 'Billy Boyd', 'Cate Blanchett', 'Christopher Lee', 'David Wenham', 'Dominic Monaghan', 'Elijah Wood', 'Hugo Weaving', 'Ian McKellen', 'John Rhys-Davies', 'Liv Tyler', 'Orlando Bloom', 'Sala Baker', 'Sean Astin', 'Sean Bean', 'Viggo Mortensen', 'Peter Jackson', 'Ian Holm', 'Brad Dourif', 'Hugh Jackman', 'Rebecca Romijn', 'Aaron Stanford', 'Anna Paquin', 'Bruce Davison', 'Famke Janssen', 'Halle Berry', 'James Marsden', 'Patrick Stewart', 'Jacek Koman', 'Richard Roxburgh', 'Brent Spiner', 'Gates McFadden', 'Jonathan Frakes', 'LeVar Burton', 'Marina Sirtis', 'Michael Dorn', 'Danny Mann', 'Miriam Margolyes', 'Magda Szubanski', 'Gretchen Mol']
Cluster 437.3171206225681: ['Gary Oldman', 'Alfred Enoch', 'Timothy Spall', 'Bonnie Wright', 'Daniel Radcliffe', 'David Bradley', 'Devon Murray', 'Emma Watson', 'Geraldine Somerville', 'James Phelps', 'Jamie Waylett', 'Joshua Herdman', 'Maggie Smith', 'Mark Williams', 'Matthew David Lewis', 'Michael Gambon', 'Oliver Phelps', 'Robbie Coltrane', 'Rupert Grint', 'Tom Felton', 'Warwick Davis', 'Adrian Rawlins', 'Alan Rickman', 'Robert Hardy', 'Brendan Gleeson', 'Ralph Fiennes', 'Emma Thompson', 'Hugh Grant', 'David Thewlis', 'Julie Walters', 'Afshan Azad', 'Katie Leung', 'Shefali Chowdhury', 'Chris Rankin', 'Fiona Shaw', 'Harry Melling', 'Richard Griffiths', 'Gemma Jones', 'Jason Isaacs', 'Helena Bonham Carter', 'Liam Neeson', 'Imelda Staunton', 'Derek Jacobi', 'Kenneth Branagh', 'Cary Elwes', 'Laura Linney', 'Natasha Richardson']
Cluster 980.820895522388: ['Giancarlo Esposito', 'Ossie Davis', 'Spike Lee', 'Clark Gregg', 'Gwyneth Paltrow', 'Paul Bettany', 'Robert Downey Jr.', 'Samuel L. Jackson', 'J. K. Simmons', 'Sam Elliott', 'Seymour Cassel', 'Bill Nunn', 'Bruce Campbell', 'Ted Raimi', 'Elizabeth Banks', 'Tobey Maguire', 'Ving Rhames', 'Dan Hicks', 'Rosemary Harris', 'Scarlett Johansson', 'Stan Lee', 'David Morse', 'James Franco', 'Josh Brolin', 'Vincent Laresca', 'Cliff Robertson', 'Kirsten Dunst', 'Willem Dafoe', 'Jude Law', 'Ray Winstone', 'Joie Lee', 'Jeremy Renner', 'Margo Martindale', 'Stellan Skarsgård', 'Daniel Dae Kim', 'Mickey Rourke', 'Michael Rispoli', 'Nicolas Cage', 'Tom Cruise', 'Nicole Kidman', 'Kate Winslet', 'Joe Manganiello', 'Armando Riesco', 'Michael Papajohn', 'Michael Rapaport', 'Eva Mendes', 'Kevin Corrigan']
Cluster 1037.019801980198: ['Gary Sinise', 'Tom Hanks', 'Don Rickles', 'John Morris', 'John Ratzenberger', 'Laurie Metcalf', 'R. Lee Ermey', 'Tim Allen', 'Wallace Shawn', 'Clint Howard', 'Kevin Bacon', 'Billy Crystal', 'Bruno Kirby', 'Fred Ward', 'Peter Gallagher', 'Tim Robbins', 'Joan Cusack', 'Estelle Harris', 'Whoopi Goldberg', 'Clancy Brown', 'Susan Sarandon', 'John Cusack', 'Celia Weston', 'Jeremy Piven', 'Bonnie Hunt', 'Michael Jeter', 'Robin Williams', 'Kiefer Sutherland', 'Oliver Platt', 'Alec Baldwin', 'James Rebhorn', 'Amanda Peet', 'Beth Grant', 'Sandra Bullock', 'Kyra Sedgwick', 'Eva Amurri', 'Harve Presnell', 'Josef Sommer', 'Hank Azaria', 'Ned Bellamy', 'Judge Reinhold', 'Meg Ryan', 'Rita Wilson', 'Kathy Najimy', 'Richard Dreyfuss', 'Lou Diamond Phillips', 'Chris Penn', 'Richard Schiff', 'Dabney Coleman', 'David Paymer', 'Rob Reiner', 'Holmes Osborne', 'Eric Lloyd', 'Peter Boyle', 'Wendy Crewson', 'Spencer Breslin']
Cluster 1046.7898550724638: ['Julia Stiles', 'Matt Damon', 'Ben Affleck', 'Cole Hauser', 'Casey Affleck', 'Denzel Washington', 'Ethan Suplee', "Brian O'Halloran", 'Jason Lee', 'Jason Mewes', 'George Clooney', 'Thomas McCarthy', 'Brad Pitt', 'Joey Lauren Adams', 'Kevin Smith', 'Dwight Ewell', 'Julia Roberts', 'Kimberly Elise', 'Andy García', 'Bernie Mac', 'Carl Reiner', 'Eddie Jemison', 'Elliott Gould', 'Scott Caan', 'Shaobo Qin', 'Don Cheadle', 'Eddie Izzard', 'Walt Flanagan', 'Zooey Deschanel', 'Jeff Anderson', 'Jennifer Schwalbach Smith', 'George Carlin', 'Harley Quinn Smith', 'Topher Grace', 'Carrie Fisher', 'Richard Bradford', 'Hector Elizondo', 'Paul Giamatti', 'Lisa Roberts Gillan', 'Jennifer Garner']
Cluster 1137.8: ['Djimon Hounsou', 'Michael Sheen', 'Bill Nighy', 'Martin Freeman', 'Shane Brolly', 'Kate Beckinsale', 'Marton Csokas']
Cluster 1141.8170731707316: ['John C. Reilly', 'Julianne Moore', 'Tom Sizemore', 'William Fichtner', 'Luis Guzmán', 'Philip Seymour Hoffman', 'Leonardo DiCaprio', 'Pete Postlethwaite', 'Melora Walters', 'Philip Baker Hall', 'Johnny Depp', 'Mackenzie Crook', 'Ricky Jay', 'William H. Macy', 'Alfred Molina', 'Emily Watson', 'Charles Hallahan', 'Kurt Russell', 'Geoffrey Rush', 'Kevin McNally', 'Jonathan Pryce', 'Crispin Glover', 'Amy Adams', 'Christian Slater', 'Drew Barrymore', 'Maggie Gyllenhaal', 'Val Kilmer', 'J. T. Walsh', 'Woody Harrelson', 'Jason Segel', 'Emily Blunt', 'Amy Ryan', 'Dennis Farina', 'Sean Penn', 'Meryl Streep', 'Molly Shannon', 'Ian Roberts', 'Wesley Snipes', 'Lionel Mark Smith', 'Vincent Guastaferro', 'Rebecca Pidgeon', 'Samantha Mathis', 'Sam Rockwell', 'Kris Kristofferson', 'Paul Perri', 'Jeff Bridges', 'Peter Friedman', 'Brian Dennehy', 'John Leguizamo', 'M. C. Gainey', 'Anne Heche', 'Dermot Mulroney', 'James LeGros', 'Roger Ashton-Griffiths', 'Will Patton']
Cluster 1168.5454545454545: ['DeForest Kelley', 'George Takei', 'James Doohan', 'Leonard Nimoy', 'Nichelle Nichols', 'Walter Koenig', 'William Shatner']
Cluster 1276.0: ['Jesse McCartney', 'Kristin Chenoweth', 'Lucy Liu', 'Mae Whitman', 'Pamela Adlon', 'Raven-Symoné']
Cluster 1292.5890410958905: ['Frank Vincent', 'Joe Pesci', 'Robert De Niro', 'Bill Murray', 'Jason Schwartzman', 'Adrien Brody', 'Owen Wilson', 'Christopher Guest', 'Ed Begley, Jr.', 'Fred Willard', 'Michael McKean', 'Jeff Goldblum', 'Scott Glenn', 'Mia Farrow', 'Woody Allen', "Catherine O'Hara", 'Glenn Shadix', 'Sam Waterston', 'Jeffrey Jones', 'Martin Landau', 'Anjelica Huston', "Caitlin O'Heaney", 'Dianne Wiest', 'Alan Alda', 'Brian Doyle-Murray', 'Winona Ryder', 'Danny Glover', 'Darlene Love', 'Traci Wolfe', 'Mel Gibson', 'Rick Moranis', 'Andrew Wilson', 'Luke Wilson', 'Jack Black', 'Blythe Danner', 'Catherine Keener', 'Jena Malone', 'Harry Shearer', 'Harold Ramis', 'Christina Ricci', 'Michael Keaton', 'Tilda Swinton', 'Judy Davis', 'Tony Darrow', 'Cathy Moriarty', 'Denis Leary', 'Eugene Levy', 'Jennifer Coolidge', 'Bob Balaban', 'Daniel Stern', 'Keanu Reeves', 'Steve Kahan', 'Chris Cooper', 'Devin Ratray', 'Steve Martin', 'John Heard', 'Rene Russo', 'Ben Stiller', 'Fran Drescher', 'Missi Pyle', 'Dustin Hoffman', 'Eddie Kaye Thomas', 'John Cho', 'Chevy Chase', 'Steve Coogan', "Beverly D'Angelo", 'Seann William Scott', 'Jason Biggs', 'John Candy', 'Larry Hankin', 'Andy Dick', 'Amy Stiller', 'Martin Scorsese', 'Robin Duke', 'Dan Aykroyd', 'Judah Friedlander', 'Melissa Leo', 'Janeane Garofalo', 'Jim Belushi', 'Teri Polo', 'David Pressman', 'Barbra Streisand', 'Linda Fiorentino', 'Geena Davis', 'Barry Primus', 'Rosanna Arquette', 'Jamie Lee Curtis', 'Alyson Hannigan', 'Ben Stein', 'Donna Dixon', 'Jessica Cauffiel', 'Randy Quaid', 'Michael Richards', 'Cuba Gooding, Jr.']
Cluster 1333.1967213114754: ['Christopher Lloyd', 'J.J. Cohen', 'James Tolkan', 'Michael J. Fox', 'Lea Thompson', 'Thomas F. Wilson', 'Anthony Hopkins', 'Frankie Faison', 'John Turturro', 'Frank Welker', 'Nicholas Turturro', 'Kevin Dunn', 'David Ogden Stiers', 'Jim Cummings', 'Peter Cullen', 'Christine Baranski', 'Nathan Lane', 'Tom Kenny', 'Charles Adler', 'Jess Harnell', 'Josh Duhamel', 'Julie White', 'Mark Ryan', 'Robert Foxworth', 'Shia LaBeouf', 'Tyrese Gibson', 'John Fiedler', 'Kath Soucie', 'Ken Sansom', 'Nikita Hopkins', 'Michael Lerner', 'Jeff Bennett', 'Rob Paulsen', 'Mike Starr', 'Tony Jay', 'Peter MacNicol']
Cluster 1360.6153846153845: ['Judi Dench', 'Tom Wilkinson', 'Michael Kitchen', 'Desmond Llewelyn', 'Pierce Brosnan', 'Samantha Bond', 'Joe Don Baker', 'Robert Brown', 'Colin Salmon']
Cluster 1426.686274509804: ['Jason Bateman', 'Ed Helms', 'Rob Riggle', 'Bill Hader', 'Joe Lo Truglio', 'Seth Rogen', 'Jane Lynch', 'John Michael Higgins', 'Martin Starr', 'Jonah Hill', 'Danny McBride', 'Carla Gallo', 'Paul Rudd', 'Steve Carell', 'Kristen Wiig', 'Mila Kunis', 'Ken Jeong', 'Vince Vaughn', 'Will Ferrell', 'Mark Wahlberg', 'Parker Posey', 'Michael Hitchcock', 'Nicky Katt', 'Rip Torn', 'Tommy Lee Jones', 'Will Smith', 'Craig Robinson', 'Leslie Mann', 'Jon Favreau', 'Justin Long', 'Stephen Root', 'Leslie Bibb', 'Michael Cera', 'David Cross', 'Kathryn Hahn', 'Aziz Ansari', 'Andy Richter', 'Josh Hamilton', 'Diedrich Bader', 'David Koechner', 'Vernon Vaughn', 'Ken Marino', 'Rashida Jones', 'A.D. Miles', 'Jennifer Aniston', 'Faizon Love', 'Thomas Lennon', 'Will Arnett', 'Tony Hale']
Cluster 1497.8333333333333: ['Michael G. Hagerty', 'Mike Myers', 'Michael York', 'Rob Lowe', 'Seth Green', 'Mindy Sterling', 'Verne Troyer']
Cluster 1523.804347826087: ['Ethan Hawke', 'Julie Delpy', 'Harry Dean Stanton', 'John Lurie', 'John Travolta', 'Thomas Jane', 'Amy Madigan', 'Ed Harris', 'Uma Thurman', 'Sam Shepard', 'Gene Hackman', 'E. G. Marshall', 'Grace Zabriskie', 'James Cromwell', 'John Goodman', 'James Gandolfini', 'Hal Holbrook', 'Robert Sean Leonard', 'Steve Zahn', 'M. Emmet Walsh', 'Jessica Lange', 'Hope Davis', 'Stanley Tucci', 'Mark Ruffalo', 'Jack Nicholson', 'Connor Fielding', 'Devon Bostick', 'Grayson Russell', 'Karan Brar', 'Laine MacNeil', 'Owen Fielding', 'Rachael Harris', 'Robert Capron', 'Zachary Gordon', 'Dennis Quaid', "Vincent D'Onofrio", 'Richard Jenkins', 'Diane Keaton', 'Paz de la Huerta', 'Ann-Margret', 'Kelly Preston', 'Richard Riehle', 'Kirstie Alley', 'Olympia Dukakis']
Cluster 1539.125: ['Courteney Cox', 'Jamie Kennedy', 'Liev Schreiber', 'David Arquette', 'Neve Campbell', 'Roger L. Jackson', "Nancy O'Dell"]
Cluster 1558.1504424778761: ['Cillian Murphy', 'Michael Caine', 'Christian Bale', 'Morgan Freeman', 'Quentin Tarantino', 'Steve Buscemi', 'Harvey Keitel', 'Chris Ellis', 'Paul Calderon', 'Bruce Willis', 'Christopher Walken', 'Roger Rees', 'Billy Bob Thornton', 'Brent Briscoe', 'Jay O. Sanders', 'Danny Trejo', 'Salma Hayek', 'Antonio Banderas', 'Ashley Judd', 'Chelcie Ross', 'Kevin James', 'Allen Covert', 'Adam Sandler', 'Jonathan Loughran', 'Rob Schneider', 'Cheech Marin', 'Tito Larriva', 'Loudon Wainwright III', 'Victor Argo', 'Robert Smigel', 'Benicio del Toro', 'Kevin Nealon', 'Wayne Knight', 'Pedro Armendáriz Jr.', 'Pam Grier', 'Chris Farley', 'David Spade', 'Peter Dante', 'Maya Rudolph', 'Jon Lovitz', 'Matthew Perry', 'Nick Swardson', 'Tommy Chong', 'Blake Clark', 'Henry Winkler', 'Johnny Messner', 'Michael Clarke Duncan', 'Kevin Pollak', 'Carl Weathers', 'Tony Shalhoub', 'James Earl Jones', 'Norm Macdonald', 'Carla Gugino', 'Daryl Sabara', 'Joe Pantoliano', 'Dana Goodman', 'Alan Cumming', 'Alexa Vega']
Cluster 1580.8333333333333: ['Emilio Estevez', 'Martin Sheen', 'Demi Moore', 'Joshua Jackson', 'Charlie Sheen', 'Marguerite Moreau']
Cluster 1653.3333333333333: ['Dina Meyer', 'Shawnee Smith', 'Tobin Bell', 'Donnie Wahlberg', 'Lyriq Bent', 'Betsy Russell', 'Costas Mandylor']
Cluster 1659.108695652174: ['Bill Paxton', 'Lance Henriksen', 'Arnold Schwarzenegger', 'Earl Boen', 'Forest Whitaker', 'Keith David', 'Chris Tucker', "Tommy 'Tiny' Lister", 'John C. McGinley', 'Danny DeVito', 'Kathleen Turner', 'Jackie Chan', 'Terrence Howard', 'Larenz Tate', 'Michael Douglas', 'Ice Cube', 'Eddie Murphy', 'Ronny Cox', 'Sven-Ole Thorsen', 'Steven Williams', 'Terry Crews', 'John Witherspoon', 'Snoop Dogg', 'Tracey Walter', 'Chris Rock', 'Tracy Morgan', 'James Woods', 'Anthony Anderson', 'DMX', 'Loretta Devine', 'Anna Faris', 'Regina Hall', 'Cedric the Entertainer', 'Mike Epps', 'DeRay Davis', 'Meagan Good', 'Clifton Powell', 'Katt Williams']
Cluster 1896.3254437869823: ['Cameron Bright', 'Daniel Cudmore', 'Dakota Fanning', 'Kristen Stewart', 'Nikki Reed', 'Sarah Clarke', 'Anna Kendrick', 'Charlie Bewley', 'Ashley Greene', 'Billy Burke', 'Christian Serratos', 'Elizabeth Reaser', 'Gil Birmingham', 'Jackson Rathbone', 'Justin Chon', 'Kellan Lutz', 'Michael Welch', 'Peter Facinelli', 'Robert Pattinson', 'Taylor Lautner']
Cluster 2086.4864864864867: ['G. W. Bailey', 'Steve Guttenberg', 'Bubba Smith', 'Scott Thomson', 'David Graf', 'George Gaynes', 'Leslie Easterbrook', 'Michael Winslow', 'Bruce Mahler', 'Marion Ramsey']

In [17]:
import itertools
from collections import defaultdict, Counter
from tqdm import tqdm

# Create a dictionary to store movie genre counts and average rank for each cluster
cluster_info = defaultdict(lambda: {'movie_genre_counts': defaultdict(int), 'total_movie_count': 0, 'average_rank': 0})

for cluster_id, actors in tqdm(large_clusters.items(), desc='Processing clusters'):
    # Find all unique pairs of actors within this cluster
    actor_pairs = list(itertools.combinations(actors, 2))
    
    # A set to keep track of movies we've already counted for this cluster to avoid duplicates
    movies_counted = set()
    
    for actor1, actor2 in actor_pairs:
        # Get the movies both actors appeared in together
        movies_actor1 = set(df[df['Actor_name'] == actor1]['Movie_name'])
        movies_actor2 = set(df[df['Actor_name'] == actor2]['Movie_name'])
        movies_together = movies_actor1.intersection(movies_actor2)
        
        # Filter out movies that have already been counted for this cluster
        unique_movies_together = movies_together - movies_counted
        movies_counted.update(unique_movies_together)
        
        # Count the genres from these movies
        for movie in unique_movies_together:
            movie_genres = df[df['Movie_name'] == movie]['Main_genre'].unique()
            for genre in movie_genres:
                cluster_info[cluster_id]['movie_genre_counts'][genre] += 1
    
    # Update the total movie count for the cluster
    cluster_info[cluster_id]['total_movie_count'] = sum(cluster_info[cluster_id]['movie_genre_counts'].values())
    
    # Calculate average rank for the cluster using movie genres
    cluster_rows = rating_stand[rating_stand['Actor1'].isin(actors) & rating_stand['Actor2'].isin(actors)]
    average_rank = cluster_rows['rank'].mean() if not cluster_rows.empty else None
    cluster_info[cluster_id]['average_rank'] = average_rank

# Sort the clusters by average rank in ascending order
sorted_clusters = sorted(cluster_info.items(), key=lambda item: item[1]['average_rank'] if item[1]['average_rank'] is not None else float('inf'))

# Convert the counts to ratios
for cluster_id, info in cluster_info.items():
    total_movies = info['total_movie_count']
    if total_movies > 0:
        for genre in info['movie_genre_counts']:
            info['movie_genre_counts'][genre] /= total_movies

# Now you can print the sorted clusters with their genre ratios and average rank
for cluster_id, info in sorted_clusters:
    print(f"Cluster {cluster_id}:")
    print(f"  Average Rank: {info['average_rank']}")
    if info['total_movie_count'] > 0:
        for genre, ratio in info['movie_genre_counts'].items():
            print(f"  {genre}: {ratio:.2f}")
    print()

Processing clusters:   0%|          | 0/22 [00:00<?, ?it/s]

Processing clusters:  18%|█▊        | 4/22 [00:45<03:34, 11.94s/it]

In [62]:
import dash
from dash import dcc, html, Input, Output
import plotly.graph_objs as go

# Assuming `cluster_info` is updated as per your latest structure...

# Initialize the Dash app
app = dash.Dash(__name__)

# Sort clusters by average rank in ascending order and prepare data for plotting
sorted_cluster_ids = sorted(cluster_info, key=lambda x: cluster_info[x]['average_rank'] or float('inf'))
cluster_ids = [f"Cluster {cluster_id}" for cluster_id in sorted_cluster_ids]
average_ranks = [round(cluster_info[cluster_id]['average_rank']) for cluster_id in sorted_cluster_ids]

# Create the bar chart
bar_chart = go.Figure(data=[
    go.Bar(x=cluster_ids, y=average_ranks, name='Average Rank')
])

# App layout with the pie chart to the right of the bar chart
app.layout = html.Div([
    dcc.Graph(id='bar-chart', figure=bar_chart),
    dcc.Graph(id='pie-chart'),
], style={'display': 'flex'})

# Callback for updating pie-chart based on clicked bar
@app.callback(
    Output('pie-chart', 'figure'),
    [Input('bar-chart', 'clickData')]
)
def display_click_data(clickData):
    if clickData:
        # Extract the cluster id from the clicked point
        cluster_id = int(clickData['points'][0]['x'].split()[1])
        # Update the dictionary key to 'movie_genre_counts'
        genres = list(cluster_info[cluster_id]['movie_genre_counts'].keys())
        counts = list(cluster_info[cluster_id]['movie_genre_counts'].values())
        # Normalize the counts to ratios
        total = sum(counts)
        ratios = [count / total for count in counts]
        # Create the pie chart based on the selected cluster
        pie_chart = go.Figure(data=[go.Pie(labels=genres, values=ratios)])
        return pie_chart
    else:
        # If no bar is clicked yet, return an empty figure
        return go.Figure()

# Run the Dash app
if __name__ == '__main__':
    app.run_server(debug=True)

In [63]:
# Create a dictionary to store genre counts and average rank for each cluster
cluster_info = defaultdict(lambda: {'genre_counts': defaultdict(int), 'total_genre_count': 0, 'average_rank': 0})

for cluster_id, nodes in large_clusters.items():
    # For each actor in the cluster
    for actor in nodes:
        # Find the main genre of the actor
        main_genres = df[df['Actor_name'] == actor]['Actor_main_genre'].unique()
        # Count each genre
        for genre in main_genres:
            cluster_info[cluster_id]['genre_counts'][genre] += 1
            cluster_info[cluster_id]['total_genre_count'] += 1

    # Calculate average rank for the cluster
    cluster_rows = rating_stand[(rating_stand['Actor1'].isin(nodes)) | (rating_stand['Actor2'].isin(nodes))]
    average_rank = cluster_rows['rank'].mean() if not cluster_rows.empty else None
    cluster_info[cluster_id]['average_rank'] = average_rank

# Sort the clusters by average rank in ascending order
sorted_clusters = sorted(cluster_info.items(), key=lambda item: item[1]['average_rank'] if item[1]['average_rank'] is not None else float('inf'))

# Print the sorted clusters with their genre ratios and average rank
for cluster_id, info in sorted_clusters:
    print(f"Cluster {cluster_id}:")
    print(f"  Average Rank: {info['average_rank']}")
    if info['total_genre_count'] > 0:
        for genre, count in info['genre_counts'].items():
            ratio = count / info['total_genre_count']
            print(f"  {genre}: {ratio:.2f}")
    print()

Cluster 0:
  Average Rank: 386.95714285714286
  Fantasy Adventure: 0.20
  Thriller: 0.62
  Crime Fiction: 0.07
  Drama: 0.03
  Adventure: 0.07

Cluster 2:
  Average Rank: 437.3171206225681
  Thriller: 0.34
  Fantasy Adventure: 0.45
  Costume drama: 0.02
  Adventure: 0.04
  Science Fiction: 0.02
  Crime Fiction: 0.04
  Romantic comedy: 0.09

Cluster 3:
  Average Rank: 813.3018867924528
  Thriller: 0.27
  Romantic comedy: 0.32
  Adventure: 0.23
  Crime Fiction: 0.05
  Action/Adventure: 0.05
  Holiday Film: 0.05
  Parody: 0.05

Cluster 11:
  Average Rank: 977.7045454545455
  Thriller: 0.78
  Drama: 0.04
  Romantic comedy: 0.04
  Cult: 0.02
  Crime Fiction: 0.07
  Ensemble Film: 0.02
  Adventure: 0.02

Cluster 9:
  Average Rank: 1046.7898550724638
  Romantic comedy: 0.25
  Thriller: 0.33
  Crime Fiction: 0.23
  Parody: 0.05
  Buddy film: 0.10
  LGBT: 0.03
  Road movie: 0.03

Cluster 12:
  Average Rank: 1137.8
  Thriller: 0.86
  Romantic comedy: 0.14

Cluster 10:
  Average Rank: 1141.8170731707316
  Thriller: 0.65
  Romantic comedy: 0.16
  Crime Fiction: 0.13
  Swashbuckler films: 0.02
  Drama: 0.02
  Parody: 0.02

Cluster 36:
  Average Rank: 1168.5454545454545
  Thriller: 0.14
  Science Fiction: 0.86

Cluster 48:
  Average Rank: 1276.0
  Computer Animation: 0.17
  Romantic comedy: 0.17
  Thriller: 0.17
  Adventure: 0.50

Cluster 13:
  Average Rank: 1292.094890510949
  Thriller: 0.31
  Crime Fiction: 0.09
  Parody: 0.14
  Romantic comedy: 0.41
  Black comedy: 0.01
  Science Fiction: 0.01
  Action/Adventure: 0.01
  Sports: 0.01
  Family Film: 0.01

Cluster 14:
  Average Rank: 1307.7166666666667
  Romantic comedy: 0.20
  Thriller: 0.53
  Adventure: 0.05
  Crime Fiction: 0.15
  Parody: 0.07

Cluster 8:
  Average Rank: 1333.1967213114754
  Science Fiction: 0.11
  Thriller: 0.39
  Romantic comedy: 0.14
  Adventure: 0.25
  LGBT: 0.03
  Children's/Family: 0.03
  Family Film: 0.03
  Japanese Movies: 0.03

Cluster 27:
  Average Rank: 1360.6153846153845
  Thriller: 1.00

Cluster 20:
  Average Rank: 1426.686274509804
  Romantic comedy: 0.53
  Parody: 0.22
  Crime Fiction: 0.02
  Drama: 0.02
  Thriller: 0.12
  LGBT: 0.02
  Children's/Family: 0.02
  Action/Adventure: 0.02
  Adventure: 0.02

Cluster 7:
  Average Rank: 1454.857142857143
  Thriller: 0.63
  Crime Fiction: 0.12
  Buddy film: 0.02
  Americana: 0.02
  Drama: 0.05
  Romantic comedy: 0.16

Cluster 1:
  Average Rank: 1488.6813186813188
  Thriller: 0.38
  Romantic comedy: 0.24
  Crime Fiction: 0.18
  Computer Animation: 0.02
  Sports: 0.07
  Parody: 0.04
  Adventure: 0.02
  Biography: 0.02
  Fantasy Adventure: 0.02

Cluster 46:
  Average Rank: 1497.8333333333333
  Romantic comedy: 0.43
  Parody: 0.57

Cluster 65:
  Average Rank: 1539.125
  Thriller: 0.43
  Parody: 0.29
  Crime Fiction: 0.29

Cluster 47:
  Average Rank: 1547.8541666666667
  Romantic comedy: 0.18
  Family Film: 0.64
  Thriller: 0.18

Cluster 26:
  Average Rank: 1580.8333333333333
  Thriller: 0.67
  Crime Fiction: 0.17
  Sports: 0.17

Cluster 57:
  Average Rank: 1653.3333333333333
  Thriller: 0.86
  Crime Fiction: 0.14

Cluster 24:
  Average Rank: 1776.6571428571428
  Thriller: 0.29
  Crime Fiction: 0.43
  Romantic comedy: 0.14
  Comedy: 0.04
  Parody: 0.07
  Adventure: 0.04

Cluster 34:
  Average Rank: 1879.1818181818182
  Crime Fiction: 0.08
  Thriller: 0.58
  Cult: 0.08
  Science Fiction: 0.25

Cluster 63:
  Average Rank: 1896.3254437869823
  Thriller: 0.75
  LGBT: 0.05
  Romantic comedy: 0.05
  Drama: 0.10
  Adventure: 0.05

Cluster 87:
  Average Rank: 2086.4864864864867
  Action/Adventure: 0.80
  Crime Fiction: 0.20

In [64]:
import dash
from dash import dcc, html, Input, Output, State
import plotly.graph_objs as go
import pandas as pd

# Assuming `cluster_info` is a dictionary with cluster ids as keys and dictionaries with 'average_rank' and 'genre_counts' as values

# Initialize the Dash app
app = dash.Dash(__name__)

# Sort clusters by average rank in ascending order and prepare data for plotting
sorted_cluster_ids = sorted(cluster_info, key=lambda x: cluster_info[x]['average_rank'])
cluster_ids = [f"Cluster {cluster_id}" for cluster_id in sorted_cluster_ids]
average_ranks = [round(cluster_info[cluster_id]['average_rank']) for cluster_id in sorted_cluster_ids]

# Create the bar chart
bar_chart = go.Figure(data=[
    go.Bar(x=cluster_ids, y=average_ranks, name='Average Rank')
])

# Set up the callback for clicking the bar, which will not have any output but will update the pie chart via clientside callback
bar_chart.update_layout(clickmode='event+select')

# App layout with the pie chart to the right of the bar chart
app.layout = html.Div([
    dcc.Graph(id='bar-chart', figure=bar_chart),
    dcc.Graph(id='pie-chart'),
], style={'display': 'flex'})

# Callback for updating pie-chart based on clicked bar
@app.callback(
    Output('pie-chart', 'figure'),
    [Input('bar-chart', 'clickData')],
    [State('bar-chart', 'figure')]
)
def display_click_data(clickData, figure):
    if clickData:
        # Extract the cluster id from the clicked point
        cluster_id = int(clickData['points'][0]['x'].split()[1])
        genres = list(cluster_info[cluster_id]['genre_counts'].keys())
        counts = list(cluster_info[cluster_id]['genre_counts'].values())
        # Create the pie chart based on the selected cluster
        pie_chart = go.Figure(data=[go.Pie(labels=genres, values=counts)])
        return pie_chart
    else:
        # If no bar is clicked yet, return an empty figure
        return go.Figure()

# Run the Dash app
if __name__ == '__main__':
    app.run_server(debug=True)