In [1]:
import pandas as pd
import numpy as np
from itertools import combinations

In [8]:
df_movie = pd.read_pickle('data/df_movie.pkl')

pd.set_option('display.max_columns', None)

df_movie

,Movie_name,Movie_release,Movie_revenue,Movie_runtime,Movie_languages,Movie_countries,Main_genre,Sec_Genre,Movie_rating,Producer,Composer,Director,Writer,Freebase_ID,Char_name,Actor_birth,Actor_gender,Actor_height,Actor_ethnicity,Actor_name,Actor_age_release,Inflation Factor for 2023,2023 valued revenue,Avg_revenue_per_film_at_release,Longevity,Number_of_film_at_release,Avg_rating_per_film_at_release,First_film
403088,The Fox and the Hound,1981.0,63456988.0,83.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}",Adventure,Children's/Family,NaN,NaN,NaN,NaN,NaN,/m/04xg4z,Squeaks,NaN,NaN,NaN,NaN,'Squeeks' the Caterpillar,NaN,3.38,2.144846e+08,6.345699e+07,0.0,1,NaN,True
400285,Miss March,2009.0,4591629.0,90.0,"{""/m/05zjd"": ""Portuguese Language"", ""/m/02h40l...","{""/m/09c7w0"": ""United States of America""}",Road movie,Sex comedy,NaN,NaN,NaN,NaN,NaN,/m/05b3f51,NaN,1979-12-16,M,NaN,NaN,40 Glocc,29.0,1.43,6.566029e+06,4.591629e+06,0.0,1,NaN,True
71882,Get Rich or Die Tryin',2005.0,46442528.0,117.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}",Crime Fiction,Hip hop movies,5.4,Jimmy Iovine,Gavin Friday,Jim Sheridan,Terence Winter,/m/07s114,Marcus,1975-07-06,M,1.829,/m/0x67,50 Cent,30.0,1.58,7.337919e+07,4.644253e+07,0.0,1,5.400000,True
419847,Home of the Brave,2006.0,499620.0,106.0,"{""/m/0jzc"": ""Arabic Language"", ""/m/02h40lc"": ""...","{""/m/09c7w0"": ""United States of America"", ""/m/...",Drama,War film,5.6,NaN,NaN,Irwin Winkler,NaN,/m/0f9x7r,Jamal Aiken,1975-07-06,M,1.829,/m/0x67,50 Cent,31.0,1.53,7.644186e+05,2.347107e+07,1.0,2,5.500000,False
126916,Righteous Kill,2008.0,76747202.0,100.0,"{""/m/06b_j"": ""Russian Language"", ""/m/02h40lc"":...","{""/m/09c7w0"": ""United States of America""}",Thriller,Crime Fiction,6.0,NaN,NaN,Jon Avnet,Russell Gewirtz,/m/02r6fhw,Spider,1975-07-06,M,1.829,/m/0x67,50 Cent,33.0,1.43,1.097485e+08,4.122978e+07,3.0,3,5.666667,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280234,In Bruges,2008.0,33394440.0,102.0,"{""/m/02h40lc"": ""English Language"", ""/m/04306rv...","{""/m/09c7w0"": ""United States of America"", ""/m/...",Crime Fiction,Thriller,7.9,Graham Broadbent,Carter Burwell,Martin McDonagh,Martin McDonagh,/m/02pjc1h,Canadian Guy,1957-08-15,M,1.700,/m/04_tz7,Željko Ivanek,50.0,1.43,4.775405e+07,1.029482e+08,24.0,13,6.976923,False
21079,Seven Psychopaths,2012.0,12290017.0,109.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America"", ""/m/...",Comedy,None,7.1,Graham Broadbent,Carter Burwell,Martin McDonagh,Martin McDonagh,/m/0gxtknx,Paulo,1957-08-15,M,1.700,/m/04_tz7,Željko Ivanek,55.0,1.34,1.646862e+07,8.933259e+07,28.0,16,7.131250,False
255532,The Words,2012.0,11494838.0,96.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}",Thriller,Romance Film,8.6,NaN,NaN,Mic Graves,NaN,/m/0h37n51,Joseph Cutler,1957-08-15,M,1.700,/m/04_tz7,Željko Ivanek,54.0,1.34,1.540308e+07,8.933259e+07,28.0,16,7.131250,False
343874,Argo,2012.0,67210347.0,120.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}",Thriller,Drama,7.7,George Clooney,Alexandre Desplat,Ben Affleck,NaN,/m/0h03fhx,Adam Engell,1957-08-15,M,1.700,/m/04_tz7,Željko Ivanek,55.0,1.34,9.006186e+07,8.933259e+07,28.0,16,7.131250,False
123748,Dragonball Evolution,2009.0,57497699.0,85.0,"{""/m/03k50"": ""Hindi Language"", ""/m/03_9r"": ""Ja...","{""/m/09c7w0"": ""United States of America"", ""/m/...",Science Fiction,Adventure,2.5,Stephen Chow,Brian Tyler,James Wong,NaN,/m/03gqjng,Mai,1973-01-16,F,1.620,NaN,田村英里子,36.0,1.43,8.222171e+07,5.749770e+07,0.0,1,2.500000,True

In [19]:
unique_actor = df_movie['Actor_name'].unique()
actor_genres = {}

for actor in unique_actor:
    genres = df_movie[df_movie['Actor_name'] == actor]['Main_genre'].value_counts()
    if len(genres) == 0:
        actor_genres[actor] = 'None'
    else:
        actor_genres[actor] = genres.index[0]

In [25]:
df_movie['Actor_main_genre'] = df_movie['Actor_name'].map(actor_genres)

In [26]:
df_movie

,Movie_name,Movie_release,Movie_revenue,Movie_runtime,Movie_languages,Movie_countries,Main_genre,Sec_Genre,Movie_rating,Producer,Composer,Director,Writer,Freebase_ID,Char_name,Actor_birth,Actor_gender,Actor_height,Actor_ethnicity,Actor_name,Actor_age_release,Inflation Factor for 2023,2023 valued revenue,Avg_revenue_per_film_at_release,Longevity,Number_of_film_at_release,Avg_rating_per_film_at_release,First_film,Actor_main_genre
403088,The Fox and the Hound,1981.0,63456988.0,83.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}",Adventure,Children's/Family,NaN,NaN,NaN,NaN,NaN,/m/04xg4z,Squeaks,NaN,NaN,NaN,NaN,'Squeeks' the Caterpillar,NaN,3.38,2.144846e+08,6.345699e+07,0.0,1,NaN,True,Adventure
400285,Miss March,2009.0,4591629.0,90.0,"{""/m/05zjd"": ""Portuguese Language"", ""/m/02h40l...","{""/m/09c7w0"": ""United States of America""}",Road movie,Sex comedy,NaN,NaN,NaN,NaN,NaN,/m/05b3f51,NaN,1979-12-16,M,NaN,NaN,40 Glocc,29.0,1.43,6.566029e+06,4.591629e+06,0.0,1,NaN,True,Road movie
71882,Get Rich or Die Tryin',2005.0,46442528.0,117.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}",Crime Fiction,Hip hop movies,5.4,Jimmy Iovine,Gavin Friday,Jim Sheridan,Terence Winter,/m/07s114,Marcus,1975-07-06,M,1.829,/m/0x67,50 Cent,30.0,1.58,7.337919e+07,4.644253e+07,0.0,1,5.400000,True,Crime Fiction
419847,Home of the Brave,2006.0,499620.0,106.0,"{""/m/0jzc"": ""Arabic Language"", ""/m/02h40lc"": ""...","{""/m/09c7w0"": ""United States of America"", ""/m/...",Drama,War film,5.6,NaN,NaN,Irwin Winkler,NaN,/m/0f9x7r,Jamal Aiken,1975-07-06,M,1.829,/m/0x67,50 Cent,31.0,1.53,7.644186e+05,2.347107e+07,1.0,2,5.500000,False,Crime Fiction
126916,Righteous Kill,2008.0,76747202.0,100.0,"{""/m/06b_j"": ""Russian Language"", ""/m/02h40lc"":...","{""/m/09c7w0"": ""United States of America""}",Thriller,Crime Fiction,6.0,NaN,NaN,Jon Avnet,Russell Gewirtz,/m/02r6fhw,Spider,1975-07-06,M,1.829,/m/0x67,50 Cent,33.0,1.43,1.097485e+08,4.122978e+07,3.0,3,5.666667,False,Crime Fiction
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280234,In Bruges,2008.0,33394440.0,102.0,"{""/m/02h40lc"": ""English Language"", ""/m/04306rv...","{""/m/09c7w0"": ""United States of America"", ""/m/...",Crime Fiction,Thriller,7.9,Graham Broadbent,Carter Burwell,Martin McDonagh,Martin McDonagh,/m/02pjc1h,Canadian Guy,1957-08-15,M,1.700,/m/04_tz7,Željko Ivanek,50.0,1.43,4.775405e+07,1.029482e+08,24.0,13,6.976923,False,Thriller
21079,Seven Psychopaths,2012.0,12290017.0,109.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America"", ""/m/...",Comedy,None,7.1,Graham Broadbent,Carter Burwell,Martin McDonagh,Martin McDonagh,/m/0gxtknx,Paulo,1957-08-15,M,1.700,/m/04_tz7,Željko Ivanek,55.0,1.34,1.646862e+07,8.933259e+07,28.0,16,7.131250,False,Thriller
255532,The Words,2012.0,11494838.0,96.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}",Thriller,Romance Film,8.6,NaN,NaN,Mic Graves,NaN,/m/0h37n51,Joseph Cutler,1957-08-15,M,1.700,/m/04_tz7,Željko Ivanek,54.0,1.34,1.540308e+07,8.933259e+07,28.0,16,7.131250,False,Thriller
343874,Argo,2012.0,67210347.0,120.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}",Thriller,Drama,7.7,George Clooney,Alexandre Desplat,Ben Affleck,NaN,/m/0h03fhx,Adam Engell,1957-08-15,M,1.700,/m/04_tz7,Željko Ivanek,55.0,1.34,9.006186e+07,8.933259e+07,28.0,16,7.131250,False,Thriller
123748,Dragonball Evolution,2009.0,57497699.0,85.0,"{""/m/03k50"": ""Hindi Language"", ""/m/03_9r"": ""Ja...","{""/m/09c7w0"": ""United States of America"", ""/m/...",Science Fiction,Adventure,2.5,Stephen Chow,Brian Tyler,James Wong,NaN,/m/03gqjng,Mai,1973-01-16,F,1.620,NaN,田村英里子,36.0,1.43,8.222171e+07,5.749770e+07,0.0,1,2.500000,True,Science Fiction

In [37]:
df_movie.to_pickle('data/df_movie.pkl')

In [3]:
# Group by 'Movie_name' and aggregate 'Actor_name' into lists
actor_pairs = df_movie.groupby(['Movie_name', 'Movie_release'])['Actor_name'].apply(list)

# For each movie, create all possible pairs of actors without duplication
actor_pairs = actor_pairs.apply(lambda x: list(combinations(sorted(set(x)), 2)))

df_pairs = pd.DataFrame(actor_pairs)
df_pairs = df_pairs.reset_index()
df_pairs = df_pairs.rename(columns={'Actor_name': 'Actor_pairs'})
df_pairs = df_pairs.explode('Actor_pairs')
df_pairs.head()

           Movie_name  Movie_release                           Actor_pairs
0  'Til There Was You         1997.0  (Alice Drummond, Christine Ebersole)
0  'Til There Was You         1997.0        (Alice Drummond, Craig Bierko)
0  'Til There Was You         1997.0     (Alice Drummond, Dylan McDermott)
0  'Til There Was You         1997.0  (Alice Drummond, Jeanne Tripplehorn)
0  'Til There Was You         1997.0    (Alice Drummond, Jennifer Aniston)

In [4]:
df_pairs.shape

(644730, 3)

In [7]:
df_pairs = df_pairs.merge(df_movie[['Movie_name', 'Movie_release', 'Movie_revenue', 'Movie_rating']], on=['Movie_name', 'Movie_release'], how='left')

In [8]:
df_pairs = df_pairs.drop_duplicates()

In [9]:
df_pairs

,Movie_name,Movie_release,Actor_pairs,Movie_revenue,Movie_rating
0,'Til There Was You,1997.0,"(Alice Drummond, Christine Ebersole)",3525125.0,4.8
11,'Til There Was You,1997.0,"(Alice Drummond, Craig Bierko)",3525125.0,4.8
22,'Til There Was You,1997.0,"(Alice Drummond, Dylan McDermott)",3525125.0,4.8
33,'Til There Was You,1997.0,"(Alice Drummond, Jeanne Tripplehorn)",3525125.0,4.8
44,'Til There Was You,1997.0,"(Alice Drummond, Jennifer Aniston)",3525125.0,4.8
...,...,...,...,...,...
13566854,Æon Flux,2005.0,"(Pete Postlethwaite, Yangzom Brauen)",52304001.0,5.4
13566867,Æon Flux,2005.0,"(Sophie Okonedo, Stuart Townsend)",52304001.0,5.4
13566880,Æon Flux,2005.0,"(Sophie Okonedo, Yangzom Brauen)",52304001.0,5.4
13566893,Æon Flux,2005.0,"(Stuart Townsend, Yangzom Brauen)",52304001.0,5.4
13566906,Žižek!,2005.0,NaN,40331.0,NaN

In [10]:
df_pairs.dropna(subset=['Actor_pairs', 'Movie_release', 'Movie_revenue', 'Movie_rating'], inplace=True)

In [11]:
df_pairs.shape

(552170, 5)

In [12]:
df_pairs['Actor1'] = df_pairs['Actor_pairs'].apply(lambda x: x[0])
df_pairs['Actor2'] = df_pairs['Actor_pairs'].apply(lambda x: x[1])
df_pairs.reset_index(drop=True, inplace=True)

In [13]:
df_pairs.shape

(552170, 7)

In [29]:
def query_info_for_actor_pairs(row, df, infos):
    actor1 = row['Actor1']
    actor2 = row['Actor2']
    movie_name = row['Movie_name']
    movie_release = row['Movie_release']

    # Create a mask for the condition
    condition_mask = (df['Movie_name'] == movie_name) & (df['Movie_release'] == movie_release)

    # Filter the DataFrame based on the condition
    filtered_df = df[condition_mask]

    # Extract the relevant information for actor1 and actor2
    info1 = filtered_df.loc[filtered_df['Actor_name'] == actor1, infos].values[0]
    info2 = filtered_df.loc[filtered_df['Actor_name'] == actor2, infos].values[0]

    return info1, info2

In [32]:
def same_genre(row):
    infos1, infos2 = query_info_for_actor_pairs(row, df_movie, 'Actor_main_genre')

    same_genre = infos1 == infos2
    if same_genre:
        genre = infos1
    else:
        genre = 'None'

    print(f"Progress: {(row.name/len(df_pairs)):.2%}")

    return same_genre, genre

In [16]:
def all_infos(row):
    infos1, infos2 = query_info_for_actor_pairs(row, df_movie, ['Actor_age_release', 'Number_of_film_at_release', 'Avg_revenue_per_film_at_release', 'First_film', 'Main_genre'])

    age_difference = np.abs(infos1[0] - infos2[0])
    film_count_difference = np.abs(infos1[1] - infos2[1])
    average_revenue_difference = np.abs(infos1[2] - infos2[2])
    first_film = (infos1[3] and infos2[3])
    first_film_for_one = (infos1[3] or infos2[3])
    same_genre = (infos1[4] == infos2[4])
    if same_genre:
        genre = infos1[4]
    else:
        genre = ''

    print(f"Progress: {(row.name/len(df_pairs)):.2%}")

    return age_difference, film_count_difference, average_revenue_difference, first_film, first_film_for_one, same_genre, genre

In [17]:
def number_of_films_together(row):
    df = df_movie
    actor1 = row['Actor1']
    actor2 = row['Actor2']
    movie_release = row['Movie_release']

    condition_mask1 = ((df['Movie_release'] < movie_release) & (df['Actor_name'] == actor1))
    condition_mask2 = ((df['Movie_release'] < movie_release) & (df['Actor_name'] == actor2))

    movie_name1 = df.loc[condition_mask1, 'Movie_name'].values.tolist()
    movie_name2 = df.loc[condition_mask2, 'Movie_name'].values.tolist()
    
    print(f"Progress: {(row.name/len(df_pairs)):.2%}")

    return len(set(movie_name1).intersection(set(movie_name2)))

In [ ]:
infos = df_pairs.apply(lambda x: all_infos(x), axis=1)

In [19]:
df_pairs[['Age_difference', 'Film_count_difference', 'Average_revenue_difference', 'First_film', 'First_film_for_one', 'Same_genre', 'Genre']] = pd.DataFrame(infos.tolist(), index=df_pairs.index)

In [ ]:
genres = df_pairs.apply(lambda row: same_genre(row), axis=1)

In [35]:
df_pairs[['Same_genre', 'Genre']] = pd.DataFrame(genres.tolist(), index=df_pairs.index)

In [ ]:
films_together = df_pairs.apply(lambda x: number_of_films_together(x), axis=1)

In [23]:
df_pairs['Number_of_films_together'] = films_together

In [25]:
df_pairs.to_pickle('data/df_pairs.pkl')

In [39]:
df_pairs

,Movie_name,Movie_release,Actor_pairs,Movie_revenue,Movie_rating,Actor1,Actor2,Age_difference,Film_count_difference,Average_revenue_difference,First_film,First_film_for_one,Number_of_films_together,Same_genre,Genre
0,'Til There Was You,1997.0,"(Alice Drummond, Christine Ebersole)",3525125.0,4.8,Alice Drummond,Christine Ebersole,25.0,3,3.612798e+07,False,False,0,False,None
1,'Til There Was You,1997.0,"(Alice Drummond, Craig Bierko)",3525125.0,4.8,Alice Drummond,Craig Bierko,37.0,5,1.416641e+07,False,False,0,False,None
2,'Til There Was You,1997.0,"(Alice Drummond, Dylan McDermott)",3525125.0,4.8,Alice Drummond,Dylan McDermott,34.0,1,1.315054e+07,False,False,0,False,None
3,'Til There Was You,1997.0,"(Alice Drummond, Jeanne Tripplehorn)",3525125.0,4.8,Alice Drummond,Jeanne Tripplehorn,36.0,2,1.241967e+08,False,False,0,False,None
4,'Til There Was You,1997.0,"(Alice Drummond, Jennifer Aniston)",3525125.0,4.8,Alice Drummond,Jennifer Aniston,41.0,3,4.310507e+07,False,False,0,False,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
552165,Æon Flux,2005.0,"(Pete Postlethwaite, Stuart Townsend)",52304001.0,5.4,Pete Postlethwaite,Stuart Townsend,27.0,8,6.262462e+07,False,False,0,True,Thriller
552166,Æon Flux,2005.0,"(Pete Postlethwaite, Yangzom Brauen)",52304001.0,5.4,Pete Postlethwaite,Yangzom Brauen,34.0,13,5.939269e+07,False,True,0,True,Thriller
552167,Æon Flux,2005.0,"(Sophie Okonedo, Stuart Townsend)",52304001.0,5.4,Sophie Okonedo,Stuart Townsend,NaN,2,6.540344e+07,False,False,0,True,Thriller
552168,Æon Flux,2005.0,"(Sophie Okonedo, Yangzom Brauen)",52304001.0,5.4,Sophie Okonedo,Yangzom Brauen,NaN,3,6.217151e+07,False,True,0,True,Thriller
552169,Æon Flux,2005.0,"(Stuart Townsend, Yangzom Brauen)",52304001.0,5.4,Stuart Townsend,Yangzom Brauen,7.0,5,3.231929e+06,False,True,0,True,Thriller